<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noi-z</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <img src="/images/noiz.jpg" alt="">
        

        <nav>
            <ul>
                <a class="burger" href=""><i class="fa-solid fa-bars"></i></a>
                <li><a class="header-nav-ul-li-a" href="/">HOME</a></li>
                <li><a href="/integrantes">INTEGRANTES</a></li>
                <li><a href="/presentaciones">PRESENTACIONES</a></li>
                <li><a href="/ensayos">ENSAYOS</a></li>
                
            </ul>
        </nav>
    </header>
    <main>

        <section class="banner">
            <img src="" alt="">
        </section>

        <article class="product">
            <div class="image-container">
                <img class="photo" src="/images/babyyo.jpeg" alt="">
                <img class="label" src="" alt="">
            
            <h4>Lorem, ipsum dolor sit amet?</h4>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum quia quisquam at doloribus,
                pariatur repellendus mollitia! Dolorem incidunt nulla dignissimos corporis ipsum earum iste.
            </p >
            <a class="more"  href="ver mas">ver mas</a>
            </div>
            <div class="image-container">
                <img class="photo" src="/images/babyyo.jpeg" alt="">
                <img class="label" src="" alt="">
            
            <h4>Lorem, ipsum dolor sit amet?</h4>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum quia quisquam at doloribus,
                pariatur repellendus mollitia! Dolorem incidunt nulla dignissimos corporis ipsum earum iste.
            </p >
            <a class="more"  href="ver mas">ver mas</a>
            </div>
            <div class="image-container">
                <img class="photo" src="/images/babyyo.jpeg" alt="">
                <img class="label" src="" alt="">
            
            <h4>Lorem, ipsum dolor sit amet?</h4>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum quia quisquam at doloribus,
                pariatur repellendus mollitia! Dolorem incidunt nulla dignissimos corporis ipsum earum iste.
            </p >
            <a class="more"  href="ver mas">ver mas</a>
            </div>
            <div class="image-container">
                <img class="photo" src="/images/babyyo.jpeg" alt="">
                <img class="label" src="" alt="">
            
            <h4>Lorem, ipsum dolor sit amet?</h4>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum quia quisquam at doloribus,
                pariatur repellendus mollitia! Dolorem incidunt nulla dignissimos corporis ipsum earum iste.
            </p >
            <a class="more"  href="ver mas">ver mas</a>
            </div>
            <div class="image-container">
                <img class="photo" src="/images/babyyo.jpeg" alt="">
                <img class="label" src="" alt="">
            
            <h4>Lorem, ipsum dolor sit amet?</h4>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum quia quisquam at doloribus,
                pariatur repellendus mollitia! Dolorem incidunt nulla dignissimos corporis ipsum earum iste.
            </p >
            <a class="more"  href="ver mas">ver mas</a>
            </div>
            <div class="image-container">
                <img class="photo" src="/images/babyyo.jpeg" alt="">
                <img class="label" src="" alt="">
            
            <h4>Lorem, ipsum dolor sit amet?</h4>
            <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum quia quisquam at doloribus,
                pariatur repellendus mollitia! Dolorem incidunt nulla dignissimos corporis ipsum earum iste.
            </p >
            <a class="more"  href="ver mas">ver mas</a>
            </div>
        

        
            
               
        </article>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a class="header-nav-ul-li-a" href="">HOME</a></li>
                <li><a href="">INTEGRANTES</a></li>
                <li><a href="">ENSAYOS</a></li>
                <li><a href="">PRESENTACIONES</a></li>
            </ul>
        </nav>
    </footer>


</body>

</html>