<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrantes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img src="/images/noiz.jpg" alt="">
        

        <nav>
            <ul>
                <a class="burger" href=""><i class="fa-solid fa-bars"></i></a>
                <li><a class="header-nav-ul-li-a" href="/">HOME</a></li>
                <li><a href="/integrantes">INTEGRANTES</a></li>
                <li><a href="/presentaciones">PRESENTACIONES</a></li>
                <li><a href="/ensayos">ENSAYOS</a></li>
                
            </ul>
        </nav>
    </header>
        <h1>integrantes</h1>
    
</body>
</html>